@model ProductFilterViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Product"
asp-action="Create"
class="btn btn-primary">
    Novo Produto
</a>

<h2>Lista de Produtos</h2>

<form method="get">
    <select id="filterType" name="filterType" onchange="obterFiltro()">
        <option value="">Selecione o Tipo</option>
        <option value="category">Categorias</option>
        <option value="supplier">Fornecedores</option>
    </select>

    <select id="filterId" name="filterId" onchange="resetarFilto()">
    </select>
</form>

<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Fornecedor</th>
        </tr>
    </thead>
    <tbody id="productTable"></tbody>
</table>

<button id="anterior" onclick="mudarPagina(-1)">Anterior</button>
<span id="paginaAtual">Página 1</span>
<button id="proximo" onclick="mudarPagina(1)">Próxima</button>
<span id="totalDePaginas">de 1</span>

<script>
    function obterFiltro (){
        const filterType = document.getElementById("filterType").value;

        fetch(`/Home/GetfilterOptions?filterType=${filterType}`)
        .then(response => response.json())
        .then(data => {

            const select = document.getElementById("filterId");

            select.innerHTML = '<option value="">Selecione</option>';

            data.forEach(item =>{
                const option = document.createElement("option");
                option.value = item.id;
                option.text = item.nome;
                select.appendChild(option);
            });
        });
    }

    let paginaAtual = 1;
    let totalPaginas = 1;
    function obterProdutos(){
        const filterType = document.getElementById("filterType").value;
        const filterId = document.getElementById("filterId").value;

        fetch(`/Home/GetFilteredProducts?filterType=${filterType}&filterId=${filterId}&page=${paginaAtual}`)
        .then(response => response.json())
        .then(result => {
            const produtos = document.getElementById("productTable");

            produtos.innerHTML =""

            result.data.forEach(item =>{
                const linha = `
                    <tr>
                        <td>${item.nome}</td>
                        <td>${item.preco}</td>
                        <td>${item.categoria}</td>
                        <td>${item.fornecedor}</td>
                        <td>
                            <a href="/Product/Edit/${item.productId}">
                                Editar
                            </a>
                        </td>
                    </tr>
                `
                produtos.innerHTML += linha;

            });
            document.getElementById("paginaAtual").innerText = `Pagina ${paginaAtual}`;

            const paginas = document.getElementById("totalDePaginas");
            totalPaginas = Math.ceil(result.total / 5)
            paginas.innerText = `de ${totalPaginas}`

            document.getElementById("anterior").disabled = paginaAtual === 1;
            document.getElementById("proximo").disabled = paginaAtual === totalPaginas;
        })
    }    

    function mudarPagina(direcao){

            paginaAtual += direcao;

        if (paginaAtual > totalPaginas) 
            paginaAtual = totalPaginas

        if(paginaAtual < 1)
            paginaAtual = 1

        obterProdutos();
    }

    function resetarFilto(){
        paginaAtual = 1
        obterProdutos()
    }
</script>

